* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 30px;
  /* min-height: 100vh; */
  /* background-color: rgb(243, 243, 243); */
  background-color: #1d2237;
  font-family: "CircularStd", sans-serif;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #2e3964;
}

::-webkit-scrollbar-track {
  background-color: #121522;
}

/* .iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  flex: 5;
} */
input {
  color: white !important;
}

.slick-dots li button:before {
  color: gray !important;
}
/* 
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
} */

/* label.Mui-focused {
    color: #426dd1 !important;
};
 .MuiInput-underline:after {
    border-bottom-color: #426dd1 !important;
  };
.MuiOutlinedInput-root{}
.MuiOutlinedInput-root fieldset{
  border-color: #426dd1 !important;
};
.MuiOutlinedInput-root:hover fieldset {
  border-color: #426dd1 !important;
};
.Mui-focused fieldset{
  border-color: #426dd1 !important;
};
.MuiFormLabel-root {
   color: lightgray !important;
}
.MuiInputLabel-formControl {
  color: lightgray !important;
}
 */

/* Media Queries */

/* @media screen and (max-width: 960px) {
  .iframe-container iframe {
    height: 100%;
  }
} */

/* MUI OVERRIDES */
.MuiTypography-body1 {
  font-size: 0.86rem !important;
}
